::selection{
    background: rgb(52,52,52);
    color: white;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'gdt-font';
}
b, bold{
    font-family: 'gdt-font-bold';
}
body{
    background-color: rgb(247,249,250);
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: rgb(56, 56, 56);
}
code{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
   /* white-space: nowrap; */
}
pre{
    background-color: rgb(235, 235, 235);
    position: relative;
    width: calc(100% - 40px);
    padding: 20px;
    border-radius: 10px;
    white-space: pre;
}
blockquote{
    padding-left: 20px;
    border-left: 4px rgb(235,235,235) solid;
    width: calc(100% - 24px);
}
.gd_head{
    position: fixed;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    left: 0px;
    top: 0px;
    width: calc(100% - 20px);
    height: 60px;
    padding: 10px;
    z-index: 100;
}
.gd_head img{
    height: 100%;
}
.gd_main{
    position: absolute;
    top: 90px;
    height: auto;
    width: 80%;
    max-width: 760px;
    padding: 20px;
    min-height: calc(100% - 130px);
}
.gd_block{
    position: relative;
    margin: 20px 0;
}
.gd_box{
    position: relative;
    width: calc(100% - 40px);
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.gd_pd{
    transition: all 0.2s ease;
}
.gd_pd:hover{
    transform: scale(0.98);
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}
.gd_c{
    cursor: pointer;
}
.gd_p{
    word-break: auto;
}
.gd_p p,.gd_p h1,.gd_p h2,.gd_p h3,.gd_p h4,.gd_p h5,.gd_p h6,.gd_p img,.gd_p b,.gd_p code,.gd_p div,.gd_p a,.gd_p pre{
    margin: 10px 0;
}
.gd_p a{
    display: inline-block;
}
.gd_p img{
    width: 100%;
}
.gd_copy{
    position: absolute;
    bottom: 40px;
    width: calc(100% - 40px);
}
.gd_copy_middle{
    text-align: center;
}
.gd_post_header{
    min-height: 200px;
    height: auto;
}
.gd_post_header div{
    position: absolute;
    bottom: 30px;
    width: calc(100% - 40px);
    word-break: break-all;
}
.gd_menu{
    position: relative;
    width: calc(100% - 60px);
    height: 45px;
    padding: 0 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.gd_menu a{
    display: block;
    height: 100%;
    background-color: white;
    transition: all 0.1s ease;
    padding: 0 20px;
    line-height: 45px;
    float: left;
}
.gd_menu a:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}
.gd_menu .this{
    background-color: rgb(224, 224, 224);
}
.gd_menu .this:hover{
    background-color: rgb(224, 224, 224);
}
.gd_img_100 img{
    width: 100%;
}
.gd_list_item{
    position: relative;
    top: -1px;
    border-top: 1px solid rgb(235,235,235);
    border-bottom: 1px solid rgb(235,235,235);
    width: calc(100% - 40px);
    padding: 10px 20px;
    transition: all 0.1s ease;
}
.gd_list_item:hover{
    background-color: rgb(252, 252, 252);
}
.gd_list_item_info{
    margin: 5px 0;
}
.gd_list_item_info p{
    color: rgb(90,90,90);
}
.gd_text, .gd_textarea, .gd_button{
    margin: 5px 0;
    width: calc(100% - 2px);
    border: 1px solid rgb(235,235,235);
    outline: none;
}
.gd_text{
    height: 25px;
    text-indent: 5px;
}
.gd_textarea{
    max-width: calc(100% - 2px);
    min-width: calc(100% - 2px);
    min-height: 100px;
}
.gd_button{
    display: block;
    height: 35px;
    background: white;
    cursor: pointer;
    width: 100%;
}
.gd_button:hover{
    background: rgb(252,252,252,252);
}